body
	{width:534px;
	height:400px;}
.TB
	{mso-special-format:nobullet•;}
.T
	{text-align:center;
	font-family:Arial;
	text-shadow:auto;
	color:#FFFF66;
	font-size:209%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.BB
	{mso-special-format:bullet•;}
.B
	{text-align:left;
	font-family:Arial;
	text-shadow:auto;
	color:#F8BA1E;
	font-size:152%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B1B
	{mso-special-format:bullet–;}
.B1
	{text-align:left;
	font-family:Arial;
	text-shadow:auto;
	color:#F8BA1E;
	font-size:133%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B2B
	{mso-special-format:bullet•;}
.B2
	{text-align:left;
	font-family:Arial;
	text-shadow:auto;
	color:#F8BA1E;
	font-size:114%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B3B
	{mso-special-format:bullet–;}
.B3
	{text-align:left;
	font-family:Arial;
	text-shadow:auto;
	color:#F8BA1E;
	font-size:95%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B4B
	{mso-special-format:bullet»;}
.B4
	{text-align:left;
	font-family:Arial;
	text-shadow:auto;
	color:#F8BA1E;
	font-size:95%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.NB
	{mso-special-format:nobullet•;}
.N
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N1B
	{mso-special-format:nobullet•;}
.N1
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N2B
	{mso-special-format:nobullet•;}
.N2
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N3B
	{mso-special-format:nobullet•;}
.N3
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N4N
	{mso-special-format:nobullet•;}
.N4
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.OB
	{mso-special-format:nobullet•;}
.O
	{text-align:left;
	font-family:"Times New Roman";
	color:black;
	mso-color-index:1;
	font-size:114%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O1B
	{mso-special-format:nobullet•;}
.O1
	{text-align:left;
	font-family:"Times New Roman";
	color:black;
	mso-color-index:1;
	font-size:114%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O2B
	{mso-special-format:nobullet•;}
.O2
	{font-family:"Times New Roman";
	font-size:114%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O3B
	{mso-special-format:nobullet•;}
.O3
	{font-family:"Times New Roman";
	font-size:114%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O4B
	{mso-special-format:nobullet•;}
.O4
	{font-family:"Times New Roman";
	font-size:114%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CBB
	{mso-special-format:nobullet•;}
.CB
	{text-align:center;
	font-family:Arial;
	text-shadow:auto;
	color:#F8BA1E;
	font-size:152%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB1B
	{mso-special-format:nobullet–;}
.CB1
	{text-shadow:auto;
	color:#F8BA1E;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB2B
	{mso-special-format:nobullet•;}
.CB2
	{text-shadow:auto;
	color:#F8BA1E;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB3B
	{mso-special-format:nobullet–;}
.CB3
	{text-shadow:auto;
	color:#F8BA1E;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB4B
	{mso-special-format:nobullet»;}
.CB4
	{text-shadow:auto;
	color:#F8BA1E;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CTB
	{mso-special-format:nobullet•;}
.CT
	{text-align:center;
	font-family:Arial;
	text-shadow:auto;
	color:#FFFF66;
	font-size:209%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HBB
	{mso-special-format:bullet•;}
.HB
	{text-shadow:auto;
	color:#F8BA1E;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB1B
	{mso-special-format:bullet–;}
.HB1
	{text-shadow:auto;
	color:#F8BA1E;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB2B
	{mso-special-format:bullet•;}
.HB2
	{text-shadow:auto;
	color:#F8BA1E;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB3B
	{mso-special-format:bullet–;}
.HB3
	{text-shadow:auto;
	color:#F8BA1E;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB4B
	{mso-special-format:bullet»;}
.HB4
	{text-shadow:auto;
	color:#F8BA1E;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QBB
	{mso-special-format:bullet•;}
.QB
	{text-shadow:auto;
	color:#F8BA1E;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB1B
	{mso-special-format:bullet–;}
.QB1
	{text-shadow:auto;
	color:#F8BA1E;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB2B
	{mso-special-format:bullet•;}
.QB2
	{text-shadow:auto;
	color:#F8BA1E;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB3B
	{mso-special-format:bullet–;}
.QB3
	{text-shadow:auto;
	color:#F8BA1E;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB4B
	{mso-special-format:bullet»;}
.QB4
	{text-shadow:auto;
	color:#F8BA1E;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.TblB
	{mso-special-format:nobullet•;}
.Tbl
	{text-shadow:auto;
	color:#F8BA1E;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl1B
	{mso-special-format:nobullet–;}
.Tbl1
	{text-shadow:auto;
	color:#F8BA1E;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl2B
	{mso-special-format:nobullet•;}
.Tbl2
	{text-shadow:auto;
	color:#F8BA1E;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl3B
	{mso-special-format:nobullet–;}
.Tbl3
	{text-shadow:auto;
	color:#F8BA1E;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl4B
	{mso-special-format:nobullet»;}
.Tbl4
	{text-shadow:auto;
	color:#F8BA1E;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.defaultB
	{mso-special-format:nobullet•;}
.default
	{text-align:left;
	font-family:"Times New Roman";
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	text-shadow:none;
	text-effect:none;
	mso-fareast-hint:no;
	layout-flow:horizontal;
	color:black;
	mso-color-index:1;
	font-size:114%;
	mso-text-raise:0%;
	mso-line-spacing:"100 0 0";
	mso-margin-left-alt:0;
	mso-text-indent-alt:0;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;
	direction:ltr;
	mso-word-wrap:1;
	mso-vertical-align-special:baseline;
	mso-ansi-language:EN-US;}
a:link
	{color:#CCCCFF !important;}
a:active
	{color:#3333CC !important;}
a:visited
	{color:#B2B2B2 !important;}
